html {
    font-size: 75%; // 12px
}

body {
    margin: 0;
    font-size: 1rem; // 12px
}

.section {
    padding-top: 10vh;
}

.first-letter {
    font-family: 'Alex Brush', cursive;
}

.following-letters {
    font-family: 'Nunito', sans-serif;
}

#header {
    height: 100vh;
    /*background-image: url("images/Karen_PSU_Piano-1291_edit.jpg");*/
    /*background-position: center;*/
    /*background-size: cover;*/
}

#header-img {
    top: 10%;
    margin-left: auto;
    display: block;
    margin-right: auto;
    position: relative;
    height: 75vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 320px) {
    #header-img {
        height: 60vh;
    }
}

#header-icon {
    top: 4%;
    margin-left: auto;
    display: block;
    position: relative;
    margin-right: auto;
    width: 25vw;
}

#header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 7em;
}

#bio {
    padding-top: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
}

#bio h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-variant-caps: petite-caps;
}

#bio hr {
    border: solid navajowhite;
    width: 50vw;
    margin-left: 0;
}

#bio p {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;

}

#services {
    display: flex;
    flex-direction: column;
    padding-right: 15vw;
    padding-left: 15vw;
}

.service {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    text-align: center;
}

.service p {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    text-align: left;
}

.service hr {
    border: solid navajowhite;
    width: 50vw;
}

.service-title h2 {
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-variant-caps: petite-caps;
}

footer {
    height: 40vh;
    background-color: grey;
}

.copyright {
    padding-top: 40vh;
    display: inline-block;
    text-align: center;
    float: none !important;
    width: 100%;
}